{% extends "deployment/base.html" %}
{% block content %}
    <h1 class="mb-3">{{ orders.first.owner.name }} - Order History ({{ page_obj.paginator.count }})</h1>
    {% for order in orders %}
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title" href=#>{{ order.symbol }}</a></h2>
            <p class="article-content"><span style="color:rgb(0, 0, 0, 0.4);">Qty: </span>{{ order.qty }} <span style="color:rgb(0, 0, 0, 0.4);">Price: </span>$ {{ order.price }} <span style="color:rgb(0, 0, 0, 0.4);">Side: </span>{{ order.side }}</p>
            <p><span style="color:rgb(0, 0, 0, 0.4);">Status: </span>{{ order.status }} <span style="color:rgb(0, 0, 0, 0.4);">Date: </span>{{ order.fill }}</p>
          </div>
        </article>
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}
